.restaurants-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-content {
    width: 800px;
}

.restaurants-layout-title {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 32px;
}